div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  margin-bottom: 10px;
}

.dashboard {
  margin-bottom: 20px;

  form {
    display: flex;
    flex-direction: column;

    label, input {
      margin-bottom: 10px;
    }

    .button-group {
      display: flex;
      gap: 10px;
    }
  }
}

canvas {
  margin-bottom: 20px;
}

